# IDE files
.idea/

# Byte-compiled
__pycache__/

# Mypy
.mypy_cache/

# setup.py
build/bdist.*/
build/lib/
raypyc.egg-info/

# manual build
build/raylib/
build/raygui/
build/raudio/
!build/all/.gitkeep
build/all/*.json
build/all/*.dll
build/all/*.so*
build/tmp