[submodule "build/raylib"]
	path = build/raylib
	url = https://github.com/raysan5/raylib
[submodule "build/raygui"]
	path = build/raygui
	url = https://github.com/raysan5/raygui
[submodule "build/raudio"]
	path = build/raudio
	url = https://github.com/raysan5/raudio
