include raypyc/colors/__init__.py
include raypyc/colors/__init__.pyi
include raypyc/enums/__init__.py
include raypyc/enums/__init__.pyi
include raypyc/structures/__init__.py
include raypyc/structures/__init__.pyi
include raypyc/__init__.py
include raypyc/__init__.pyi
include raypyc/__init__.json
include raypyc/lib/*